<?xml version="1.0"?>
<ruleset>
  <!-- Use colors, and show sniff error codes and progress. -->
  <arg name="colors"/>
  <arg value="sp"/>
  <!-- Recommended Syde PHP Coding Standard rules. -->
  <rule ref="Syde-Extra"/>
  <!-- Template-specific rules. -->
  <rule ref="Syde.ControlStructures.DisallowElse">
    <exclude-pattern>*/templates/*</exclude-pattern>
  </rule>
  <rule ref="Syde-Templates">
    <include-pattern>*/templates/*</include-pattern>
  </rule>
  <!-- Do not report on function length for tests. -->
  <rule ref="Syde.Functions.FunctionLength">
    <exclude-pattern>*/tests/*</exclude-pattern>
  </rule>
  <!-- PSR-4 namespace configuration. -->
  <rule ref="SlevomatCodingStandard.Files.TypeNameMatchesFileName">
    <properties>
      <property name="rootNamespaces" type="array">
        <element key="src" value="lloc\CardanoSignatureVerifier"/>
        <element key="tests/phpunit/src" value="lloc\CardanoSignatureVerifier\Tests"/>
        <element key="tests/phpunit/Unit" value="lloc\CardanoSignatureVerifier\Tests\Unit"/>
        <element key="tests/phpunit/Functional" value="lloc\CardanoSignatureVerifier\Tests\Functional"/>
      </property>
    </properties>
  </rule>
  <exclude-pattern>*/vendor/*</exclude-pattern>
  <exclude-pattern>*/tests/phpstan/*</exclude-pattern>
  <config name="testVersion" value="8.4-"/>
  <config name="text_domain" value="cardano-signature-verifier"/>
  <file>./src</file>
  <file>./tests</file>
</ruleset>
